body {
    margin: 0;
    background-image: url(https://img1.goodfon.ru/original/1920x1200/9/6f/minimalizm-gradient-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.fa-home {
    margin: 8px 0 0 10px;
}

.panel {
    height: 100vh;
    width: 100vw;
    display:flex;
    cursor: pointer;
    transition: height 0.5s;
}

html {
    padding: 0;
}

.nav_div {
    width:25vw;
    height:auto;
    display:flex;
    align-items:stretch;
}

.navigation {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #120A2A;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}

.navigation:hover {
    background: none;
}

.nav_name {
    height: 20vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2.8vw;
    box-sizing: border-box;
    padding: 0 4vw;
}

.nav_description {
    height: 20vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.8vw;
}

.border {
    width: 30%;
    border-top: 1px solid #FFFFFF;
}

.navigation-top {
    height: 10vh;
}

main {
    box-sizing: border-box;
    margin: 5px;
    width: calc(100vw - 10px);
    background: #FFFFFF;
    height: calc(90vh - 10px);
    transition: height 0.5s;
}
.view-area{
    padding:20px 20px 20px 90px;
    overflow-y:scroll;
    height: calc(85vh - 50px);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.p-slim {
    height: 10vh;
    margin: 0;
}

.p-full {
    height: 100vh;
}

.nav_name-full {
    height: 20vh;
    margin-bottom: 5vh;
    font-size: 2.8vw;
}

.nav_name-slim {
    margin: 0;
    font-size: 1.8vw;
    transition: font-size 0.5s step-end;
    animation: nav_name_to_slim 0.7s linear normal;
    animation-fill-mode: forwards;
}

@keyframes nav_name_to_slim {
    0% {
        margin-bottom: 5vh;
    }
    50% {
        margin-bottom: 50vh;
    }
    100% {
        margin-bottom: 0vh;
    }
}

.home_button {
    position: absolute;
    top: calc(10vh + 10px);
    left: 15px;
    margin: 10px 10px 20px 10px;
    border-radius: 50%;
    background: #5A18C9;
    color: #FFFFFF;
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bubble-enter-active, .bubble-leave-active {
    transition: top 0.5s;
}

.bubble-enter, .bubble-leave-to {
    top: 120vh;
}
.profile_image{
    width:40vw;
    height:auto;
    float:right;
}
.spoiler_button{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
    background: #5A18C9;
    font-family: 'Nunito', sans-serif;
    color:white;
    padding:5px 10px;
    cursor:pointer;
}
.spoiler{
    margin: 0 20px;
}
.center{
    display:flex;
    align-items:center;
    justify-content:center;
}
footer{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:0 20px;
    background:#FF8000;
    height:5vh;
    font-family: 'Nunito', sans-serif;
}
footer span{
    font-family: 'Pacifico', cursive;
    color:#FFFFFF;
}
.personal_info_table{
    font-family: 'Lato', sans-serif;
}
.personal_info_table td,th{
    text-align:left;
    padding: 0 5px 0 5px;
}
.personal_info_table tr{
    height:30px;
}
.programming_skills_pic{
    height:10vw;
    width:auto;
    margin: 10px;
}
.programming_skills_art{
    font-family: 'Muli', sans-serif;
    display:flex;
    padding:10px 10px 10px 0;
}
.container {
    position: relative;
}

.frame {
    max-width: 960px;
    height: 500px;
    overflow: hidden;
    display: flex;
}

.frame img {
    width: 960px;
    height: 500px;
    left: 0;
    position: relative;
    transition: left 1s;
}

.left, .right {
    top: 220px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0.3;
    background: #C0C0C0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    transition: opacity 0.2s;
    cursor: pointer;
}

.left:hover, .right:hover {
    opacity: 0.5;
}

.left {
    left: 5px;
}

.right {
    left: 895px;
}

.fa-chevron-right {
    margin-left: 3px;
}

.fa-chevron-left {
    margin-right: 3px;
}
#drop_down_menu {
    background: #FE2E64;
    width: 210px;
    height:40px;
    color:#FFFFFF;
    font:20px 'Roboto', sans-serif;
    display:flex;
    align-items:center;
    padding: 0 12px;
    justify-content:space-between;
    box-sizing:border-box;
}

.fa-sort-desc{
    position: relative ;
    top: -4px ;
}
.drop_down_list{
    position:absolute;
    width:210px;
    height:auto;
    background:	#A9A9A9;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    align-items:stretch;
}
.drop_down_options{
    font: normal 16px 'Roboto', sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    box-sizing:border-box;
    border-bottom:1px solid #FFFFFF;
    color:#FFFFFF;
    height:40px;
    padding: 0 12px;
}
.drop_down_options:hover{
    background:	#696969;
}
.image_div img{
    width:auto;
    height:50vh;
}
.text_page{
    font-family: 'Muli', sans-serif;
}
.blog img{
    float:right;
    width:20vw;
    height:auto;
}
.Twitter_feed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size:18px;
    width:60vw;

}
.author {
    color: #515151;
    font-size: 15px;
}
.twitter_text {
    line-height:20px;
    color: #888888;
    margin: 0;
    font-size: 14px;
}
.twitter_date {
    margin: 5px 0 0 0;
    font-size: 13px;
    color: #b0b0b0;
    font-family: 'Lato', sans-serif;
}
#twitter {
    color: #386bb1;
}
.Twitter_feed a{
    color: #3c92d0;
    text-decoration:none;
}
.twit{
    margin: 20px 0;
}
.Twitter_feed input{
    font-size: 16px;
    padding:5px;

}